# Part 1: County Data (Public Dataset)

In [1]:
from google.cloud import bigquery
bq = bigquery.Client()

In [2]:
q = bq.query(
"""
select count(*) as num_rows 
from bigquery-public-data.geo_us_boundaries.counties
""")
q.to_dataframe()

   num_rows
0      3233

In [3]:
#q1

q1 = bq.query(
"""
SELECT geo_id 
FROM bigquery-public-data.geo_us_boundaries.counties
WHERE county_name = 'Dane'
""")
df = q1.to_dataframe()
result = df['geo_id'].values[0]
result

'55025'

In [4]:
#q2

q2 = bq.query(
"""
SELECT state_fips_code, COUNT(*) AS num_counties
FROM bigquery-public-data.geo_us_boundaries.counties
GROUP BY state_fips_code
ORDER BY num_counties DESC
LIMIT 5
""")
df = q2.to_dataframe()
dict = df.set_index('state_fips_code')['num_counties'].to_dict()
dict

{'48': 254, '13': 159, '51': 133, '21': 120, '29': 115}

In [5]:
#q3

from google.cloud import bigquery
q1 = bq.query(
"""
SELECT geo_id 
FROM bigquery-public-data.geo_us_boundaries.counties
WHERE county_name = 'Dane'
""",
job_config=bigquery.QueryJobConfig(use_query_cache=False))

q2 = bq.query(
"""
SELECT state_fips_code, COUNT(*) AS num_counties
FROM bigquery-public-data.geo_us_boundaries.counties
GROUP BY state_fips_code
ORDER BY num_counties DESC
LIMIT 5
""",
job_config=bigquery.QueryJobConfig(use_query_cache=False))

cost1 = q1.total_bytes_billed / 1024**4
cost1 *= 6.25

cost2 = q2.total_bytes_billed / 1024**4
cost2 *= 6.25

cost_dict = {'q1': cost1, 'q2': cost2}
cost_dict

{'q1': 5.9604644775390625e-05, 'q2': 5.9604644775390625e-05}

# Part 2: HDMA Data (Parquet in GCS)

In [6]:
# ds = bigquery.Dataset("comp-sci-544-398616.p8")
ds = bigquery.Dataset("cs544-398623.p8")
ds

Dataset(DatasetReference('cs544-398623', 'p8'))

In [7]:
bq.create_dataset(ds, exists_ok=True)

Dataset(DatasetReference('cs544-398623', 'p8'))

In [8]:
config = bigquery.LoadJobConfig(source_format="PARQUET", write_disposition="WRITE_TRUNCATE")
# source = "gs://cs544_perrito_p8/hdma-wi-2021.parquet"
# hdma = bq.load_table_from_uri(source, "comp-sci-544-398616.p8.table1", job_config=config)
source = "gs://cs544_perrito_p8_1/hdma-wi-2021.parquet"
hdma = bq.load_table_from_uri(source, "cs544-398623.p8.table1", job_config=config)
hdma.result()

LoadJob<project=cs544-398623, location=US, id=fba8b673-b5db-478d-a1c0-b88fe41f70fb>

In [9]:
#q4
ids = []
# for ds in bq.list_datasets("comp-sc544-398616"):
for ds in bq.list_datasets("cs544-398623"):
    ids.append(ds.dataset_id)
ids

['p8']

In [10]:
#q5


# bq.query("""
# CREATE OR REPLACE TABLE `comp-sci-544-398616.p8.wi`
# AS
# SELECT *
# FROM bigquery-public-data.geo_us_boundaries.counties
# WHERE state_fips_code = '55'
# """)

# q5 = bq.query(
#     """
#     SELECT hdma.county_code, wi.county_name, COUNT(*) AS loan_term
#     FROM `comp-sci-544-398616.p8.table1` AS hdma
#     JOIN `comp-sci-544-398616.p8.wi` AS wi
#     ON hdma.county_code = wi.county_fips_code
#     GROUP BY hdma.county_code, wi.county_name
#     ORDER BY loan_term DESC
#     LIMIT 10
#     """
# )

bq.query("""
CREATE OR REPLACE TABLE `cs544-398623.p8.wi`
AS
SELECT *
FROM bigquery-public-data.geo_us_boundaries.counties
WHERE state_fips_code = '55'
""")

q5 = bq.query(
    """
    SELECT hdma.county_code, wi.county_name, COUNT(*) AS loan_term
    FROM `cs544-398623.p8.table1` AS hdma
    JOIN `cs544-398623.p8.wi` AS wi
    ON hdma.county_code = wi.county_fips_code
    GROUP BY hdma.county_code, wi.county_name
    ORDER BY loan_term DESC
    LIMIT 10
    """
)


df2 = q5.to_dataframe()
dict2 = df2.set_index('county_name')['loan_term'].to_dict()
dict2

{'Milwaukee': 46570,
 'Dane': 38557,
 'Waukesha': 34159,
 'Brown': 15615,
 'Racine': 13007,
 'Outagamie': 11523,
 'Kenosha': 10744,
 'Washington': 10726,
 'Rock': 9834,
 'Winnebago': 9310}

# Part 3: Application Data (Google Sheet Linked to Form)

In [11]:
url = "https://docs.google.com/spreadsheets/d/11UeIBqQylAyNUBsIO54p6WiYJWHayQMfHDbUWq1jGco/"

external_config = bigquery.ExternalConfig("GOOGLE_SHEETS")
external_config.source_uris = [url]
external_config.options.skip_leading_rows = 1
external_config.autodetect = True

table = bigquery.Table("cs544-398623.p8.applications")
table.external_data_configuration = external_config

table = bq.create_table(table, exists_ok=True)

In [12]:
#q6

q6 = bq.query(
"""
SELECT income
FROM cs544-398623.p8.applications
WHERE income = 120000
""",
job_config=bigquery.QueryJobConfig(use_query_cache=False))
df = q6.to_dataframe()
len(df)

18

In [13]:
#q7 

bq.query("""
CREATE OR REPLACE TABLE cs544-398623.p8.houses
AS
SELECT *, ST_GEOGPOINT(longitude, latitude) AS loc
FROM cs544-398623.p8.applications
""")

q7 = bq.query(
"""
SELECT COUNT(*) AS house_count, wi.county_name
FROM cs544-398623.p8.houses AS houses
CROSS JOIN cs544-398623.p8.wi AS wi
WHERE ST_Within(houses.loc, wi.county_geom)
GROUP BY wi.county_name
""")
df = q7.to_dataframe()
dict = df.set_index('county_name')['house_count'].to_dict()
dict

{'Kenosha': 1,
 'Dane': 68,
 'Columbia': 4,
 'Green Lake': 2,
 'Door': 19,
 'St. Croix': 1,
 'Oneida': 3,
 'Monroe': 2,
 'Jefferson': 2,
 'Brown': 6,
 'Douglas': 1,
 'Ashland': 2,
 'Adams': 1,
 'Milwaukee': 4,
 'Sheboygan': 5,
 'Polk': 1,
 'Marinette': 2,
 'Kewaunee': 3,
 'Outagamie': 1,
 'Eau Claire': 1,
 'Barron': 2,
 'Manitowoc': 1,
 'Sauk': 2,
 'Bayfield': 5,
 'Chippewa': 1,
 'Walworth': 4,
 'Wood': 2,
 'Winnebago': 3,
 'Iowa': 1,
 'Ozaukee': 1,
 'Dodge': 1,
 'Crawford': 1,
 'Marathon': 1}

# Part 4: Machine Learning

In [14]:
bq.query(
"""
CREATE OR REPLACE MODEL `cs544-398623.p8.lr`
OPTIONS(model_type="LINEAR_REG", INPUT_LABEL_COLS=["loan_amount"])

AS

SELECT income, loan_term, loan_amount
FROM `cs544-398623.p8.table1`
""")

QueryJob<project=cs544-398623, location=US, id=17e25061-72b5-43fe-9a72-b28f354a8926>

In [15]:
import time
while True:
    if list(bq.list_models("cs544-398623.p8")):  # Hint: use bq.list_models()
        break
    time.sleep(5)

In [16]:
#q8

df = bq.query(
"""
SELECT *
FROM ML.EVALUATE(MODEL `cs544-398623.p8.lr`, (
    select income,loan_term,loan_amount
from `cs544-398623.p8.table1`
))
""")
df.to_dataframe().at[0, "r2_score"]

0.29165412288019565

In [17]:
#q9

df = bq.query(
"""
SELECT *
FROM ML.WEIGHTS(MODEL `cs544-398623.p8.lr`)
""")
df.to_dataframe().loc[df.to_dataframe()["processed_input"] == "income"].at[0, "weight"]

0.8057773037176398

In [18]:
#q10

df = bq.query(
"""
SELECT *
FROM ML.PREDICT(MODEL `cs544-398623.p8.lr`, (
    select income, 360 AS loan_term,loan_amount
from `cs544-398623.p8.applications`
))
""")

greater_count = 0
df = df.to_dataframe()
for i in range(len(df)):
    if (df.at[i, "loan_amount"] > df.at[i, "predicted_loan_amount"]):
        greater_count += 1
greater_count/len(df)

0.603112840466926